body,html{
		font-family:Arial, sans-serif;
		margin:0;
		padding:0;
		box-sizing: border-box;
}
ul,li{
		list-style-type :none;
		margin:0;
		padding:0;
}
a:link, a:visited{
		color:#000;
}	
.nav-wrapper{
    max-width: 1000px;
    display:block;
    margin: 0 auto;
    margin-top: -12px;
    z-index: 0;
    height: 90px;
}
.wrapper {
    display:block;
    max-width: 1000px;
    margin: 0 auto;
}
header {
	background-color: white;	
	width:100%;
	position: fixed;
}
header .logo {
    display: inline-block;
    color: #FFF;
    width: 70%;
}
header .navbar {
    display: inline-block;
    line-height: 20px;
    padding-top: 35px;
    margin-left: 15px;    
}
header .navbar ul{
		color:#FFF;

}
header .navbar ul li{
		float: left;
    margin: 0 10px;
}
header .navbar ul li a{
		color:#222;
 	 font-size: 13px;
		text-decoration:none;
}
header .navbar > ul > li > a:hover{
		color: white;
}
header .but-upgrade {
    width: 75px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
}
header .nav_user{
		border-radius: 50%;
}
header .none{
	display : none;
}
.silder{
		margin-top: 20px;
	}  
.silder > img{
		width: 100%;
		height: 100%;
	}	 
.clap{
    display: inline-block;
    position: sticky;
    top: 180px;
    left: 145px;
}    
.clap > span{
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    position: absolute;
    top: 10px;
}
main{
		width: 676px;
}
main > .message {
       position: relative;
	  height: 100px;
}
main > .message > img {
		position: relative;
		border-radius: 50%;
        z-index: 1;
}

h5{
    position: relative;
    top: -90px;
    left: 85px;
    font-weight: 100;
}

.radian{
   position: absolute;
   top:0;
   left:0;
   height: 69px;
   width: 69px;
   z-index: 0;
   border-radius: 50%;
   border: 1px solid #393;
}
.button-follow{
		position: relative;
    top: -131px;
    left: 119px;
    color: rgba(255,255,255,1);
    background-color: rgba(3, 168, 124, 1);
    border-radius: 5px;
    font-size: 13px;
    padding: 2px 9px;
    border: 0px;
    border: 0px;
}
.button-follow:hover{
    background-color: rgba(2, 158, 116, 1);
    cursor: pointer;
}
.postDate{
		position: relative;
    top: -146px;
    left: 85px;
    color: #000;
    font-weight: 100;
    font-size: 12px;
		color: rgba(0, 0, 0, 0.54);
}

.content p{
    font-size: 20px;
    line-height: 33px;
}
.review_table{
		width: 100%;
    border: 1px solid #ddd;
		font-size: 14px;
    line-height: 20px;
    color: #949494;        
}   
.review_table td:first-child {
		width:70%;    
		padding: 21px;
		border-right: 1px solid #ddd;
}
.review_table td:last-child {
		width:30%;
		padding: 21px;
		text-align: center;
	  border-left-style:solid 0px;

}

.reveiw_table td {
  	border:1px dashed red;
}
.reveiw_table {
  	font-size : 13px;
}

.clearfix::after{
		display:block;
		content:'';
		clear:both;
}
.bottomClap{
    float: left;
}
.share_icon{
    float: right;
}
.bottom_write{
    letter-spacing: 0.05em;
    color: #999;
    font-size: 12px;
}
.bottom_picture{
    vertical-align: top;
    margin-top: 17px;
    border-radius: 50%;
}
.botton_author{
    font-size: 24px;
    font-weight: bold;
    font-family: arial;
    padding: 8px 0;
    color: #333
}
.bottom_introduction{
    display: inline-block;
    width: 72%;
    padding: 15px 10px;
    font-size: 15px;
    color: #636363;
    letter-spacing: 3px;
}
.bottom_follow {
    display: inline-block;  
		position: relative;
    vertical-align: top;
    top: 37px;    
}
.bottom_follow > button{

    background-color: rgba(3, 168, 124, 1);
    color:#fff;
    border-radius: 5px;
    border: 0px;
    font-size: 13px;
    padding: 8px 14px;
}
.responses_btn {
		width: 70%;
    display: block;
    margin: 50px auto;
    
    border: 1px solid rgba(3, 168, 124, 1);
    background-color: white;
    color: rgba(3, 168, 124, 1);
    
    padding: 20px 0;
    font-size: 14px;      
      
}
.responses_btn a{
    color: rgba(3, 168, 124, 1);    
}
.responses_btn a:link {
    cursor: pointer;
    text-decoration: none;
}
.other_medium_title {
    font-weight: 600;
    font-size: 19px;
    line-height: 32px;
    
}
.border-bottom{
    border-bottom: 1px solid #ddd;
}
.recommend{
    width: 80%;
    margin: 0 auto;
}
.recommend_related{ 
    font-size: 13px;
    padding: 26px 0 15px 0;
    color: #b1b1b1;  
	text-align: left;
    padding-left: 45px;
}
.recommend_headline{
	word-break: normal;
	font-size:22px;		
    font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
    display: block;
    width: 95%;
    text-align: center;
    margin: 0 auto;    
}
.recommend_content{
    display: inline-block;
    padding: 20px 0px;
    float: left;
    text-align: center;
    width: 33.33333%;
}
.copyright{
	border-top:1px solid #ddd;
	width:70%;
	font-size:14px;
	color:#000;
	padding:40px 0 20px;
	text-align:center;
}

.margin-grap{
    margin-bottom: 20px;
}
.padding-top{
    padding-top: 20px;
}
.padding-bottom {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1200px) {
.clap img{
		display:none;
}
.clap span{
		display:none;
}
.bottom_follow {
    top: 0px;    
}
.other_medium_title {
    padding: 0 20px;
}    

.recommend_content img{
	max-width: 100%;
	background-size: cover;
	/*display: inline-block;*/
   /* margin: 0 auto;*/
   /* width: 100%;*/
}
}
@media screen and (max-width: 1020px) {
header .logo {
    width: 60%;
}
}
@media screen and (max-width: 870px) and (min-width: 660px){
header .navbar {
    display: inline-block;
    line-height: 20px;
    padding-top: 35px;
    margin-left: 110px;
}
header .logo {
    width: 55%;
}
.nav-wrapper {
    max-width: 870px;
}	
.wrapper {
    display: block;
    max-width: 870px;
    margin: 0 auto;
}
header .logo {
	padding-left: 15px;
    width: 35%;
}
.content p {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 8% 0px 28px;
}
.recommend{
	width:100%
    margin: 0 auto;
}
.recommend_related{ 
	width:100%;	
}
.recommend_content{

    width: 100%;
}
.recommend_content img {
    max-width: 50%;
    background-size: cover;
    text-align: right;
    float: right;
}
.recommend_headline {
    font-size: 26px;
    float: left;
    width: 50%;
    top: 76px;
    position: relative;	
}

}

@media screen and (max-width: 661px) and (min-width: 565px){
header .navbar {
    display: inline-block;
    line-height: 20px;
    padding-top: 35px;
}
header .logo {
    width: 55%;
}
.nav-wrapper {
    max-width: 870px;
}	
.wrapper {
	display: block;
    max-width: 530px;
    margin: 0 auto;
}
header .logo {
	padding-left: 15px;
    width: 35%;
}
.content p {
    font-size: 16px;
    line-height: 20px;
    padding: 0px 0px 0px 9px;
}
.recommend{
	width:100%
    margin: 0 auto;
}
.recommend_related{ 
	width:100%;	
}
.recommend_content{

    width: 100%;
}
.recommend_content img {
	max-width: 100%;
    background-size: cover;
    text-align: center;	
}
.recommend_headline {
    font-size: 19px;
    float: left;
    top: 20px;
    position: relative;
}
}
@media screen and (max-width: 560px) and (min-width: 476px){
header .navbar {
    display: inline-block;
    line-height: 20px;
    padding-top: 35px;
}
header .logo {
	padding-left: 15px;
    width: 25%;
}
.nav-wrapper {
    max-width: 560px;
}	
.wrapper {
	display: block;
    max-width: 530px;
    margin: 0 auto;
}
.wrapper h1 {
    font-size: 41px;
    margin: 21px 36px;
}
.content p {
    font-size: 18px;
    padding: 0px 37px 0px 26px;
}
main > .message {
    margin: 0 29px;
    height: 65px;
}
.review_table {
    width: 90%;
    margin: 0 auto;
}
.recommend{
	width:100%
    margin: 0 auto;
}
.recommend_related{ 
	width:100%;	
}
.recommend_content{

    width: 100%;
}
.recommend_content img {
	max-width: 100%;
    background-size: cover;
    text-align: center;	
}
.recommend_headline {
    font-size: 19px;
    float: left;
    top: 20px;
    position: relative;
}
}
@media screen and (max-width: 475px) and (min-width: 300px){
header .navbar {
    display: inline-block;
    line-height: 20px;
    padding-top: 35px;
}
.but-upgrade{
	display:none;
}
.nav-wrapper {
    max-width: 290px;
    margin: 0 25px;
}
header .navbar ul li {
    float: left;
    margin: 0;
}
header .logo {
    width: 45%;
}
.wrapper {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

.wrapper h1 {
    font-size: 19px;
    margin: 6px 17px 16px;
}
main > .message {
   height: 70px;
}
.message {
    margin: 0 0 0 20px;
}
.content {
    margin: 0 0 0 20px;
}
.content p {
    font-size: 15px;
    line-height: 21px;
}
.padding-bottom {
    padding-bottom: 0px;
}
.bottom_picture {
    margin: 0 10px;
}
.bottom_introduction {
    width: 98%;
}
.recommend_content {
    padding: 10px 0px;
    width: 100%;
}
.recommend_related {
	padding: 0px 0 15px 0;
	padding-left: 0px;
}