.body{
  box-sizing: border-box;
  font-family: "Microsoft JhengHei";
  position: relative;
	//border:1px solid #000;
		height: 500px;
	display: flex;
    justify-content: center;
    align-items: center; 
	 margin: auto;
   background-color: #fff;
}
.active {
	background : #f5b8b8;
}
.main {
	background : blue;
}
#bg {
    text-align: center;
}
.resetBtn {
    border-radius: 4px;
    padding: 10px 35px;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
    box-shadow: 4px 4px 12px 4px rgba(20%,20%,40%,0.5);
	display:none;
    top: 56%;
    left: 46%;
    position: absolute;
}